<section>
     <div class="container">

        <div class="d-flex">
            <div class="me-3 w-100 mt-5">
                <div class=" d-flex " style="justify-content: end;">
                    <button class="btn border  btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add-category-offer">
                        <i class="fas fa-plus me-3"></i>

                        Add category offer
                    </button>
                </div>

                <table class="table table-striped table-bordered mt-3" id="category-offer" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>offer %</th>
                            {{!-- <th>
                                Expiry 
                            </th> --}}
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categoryOffer}}
                        {{!-- {{#if this.result}} --}}
                        {{!-- id="{{this._id}}" --}}
                        <tr >
                            <td>{{this.category}}</td>
                            <td>{{this.categoryOffer}}%</td>
                            {{!-- <td>{{this.expirydate}}</td> --}}
                            <td style="font-size: 16px;">
                                <a onclick="deleteCategoryOffer('{{this.category}}')" class="btn btn-outline-danger">DELETE</a>
                            </td>
                        </tr>
                        {{!-- {{/if}} --}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="ms-5 w-100 mt-5">
                <div class=" d-flex " style="justify-content: end;">
                <button class="btn border  btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add-product-offer">
                    <i class="fas fa-plus me-3"></i>
                    Add product offer
                </button>
                </div>
                <table class="table table-striped table-bordered mt-3" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Products</th>
                            <th>offer %</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each productOffer}}
                       {{!-- id="{{this._id}}" --}}
                        <tr>
                            <td>{{this.product_name}}</td>
                            <td>{{this.productOffer}}%</td>
                            {{!-- <td>{{this.expirydate}}</td> --}}
                            <td style="font-size: 16px;">                               
                                <a onclick="deleteProductOffer('{{this._id}}')" class="btn btn-outline-danger">DELETE</a>
                            </td>
                        </tr>
                    
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="add-category-offer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="add-category-offerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="order-md-1">
                            <h4 class="mb-3">Add Category Offer</h4>

                            <form class="needs-validation" action="/admin/admin_panel/offers/category-offers"  method="post">
                                <div class="form-group mb-3">
                                    {{!-- <label for="exampleFormControlSelect1">Example select</label> --}}
                                    <select class="form-control bg-light" id="category" name="category" required>
                                        <option selected disabled>Select category....</option>
                                        {{#each category}}
                                        <option value="{{this.category}}">{{this.category}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control bg-light" id="category-percentage"
                                        placeholder="Enter offer percentage" name="percentage" value="" required>
                                    <div class="invalid-feedback"> Please enter category offer. </div>
                                </div>
                                {{!-- <div class="mb-3">
                                    <label for="category-expirydate">Expiry Date</label>
                                    <input type="date" class="form-control bg-light" id="category-expirydate"
                                        placeholder="expirydate" name="expirydate" value="" required>
                                    <div class="invalid-feedback"> Please enter expirydate. </div>
                                </div> --}}

                                <hr class="mb-4">
                                <button class="btn btn-outline-dark btn-lg btn-block w-100" type="submit">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-product-offer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="add-product-offerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="order-md-1">
                            <h4 class="mb-3">Add Product Offer</h4>

                            <form class="needs-validation" method="post" action="/admin/admin_panel/offers/product-offers" >
                                <div class="form-group mb-3">
                                    {{!-- <label for="exampleFormControlSelect1">Example select</label> --}}
                                    <select class="form-control bg-light" id="products" name="product" required>
                                        <option selected disabled>Select product....</option>
                                        {{#each products}}
                                        <option value="{{this._id}}">{{this.product_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control bg-light" id="percentage"  required
                                        placeholder="Enter offer in percentage" name="percentage" value="" >
                                    <div class="invalid-feedback"> Please enter product offer. </div>
                                </div>
                                {{!-- <div class="mb-3">
                                    <label for="expirydate">Expiry Date</label>
                                    <input type="date" class="form-control bg-light" id="expirydate"
                                        placeholder="expirydate" name="expirydate" value="" required>
                                    <div class="invalid-feedback"> Please enter expirydate. </div>
                                </div> --}}

                                <hr class="mb-4">
                                <button class="btn btn-outline-dark btn-lg btn-block w-100" type="submit">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


