{{!-- new product view page --}}
{{!-- add to cart success message --}}
<div class="container">

    <div class="d-flex justify-content-between mb-5">
        <div>

            <div>
                <div class="col-md-4 px-0"  style="width: 400px;">
                    <img id="image" src="{{products.image.[0]}}" class="img-fluid block__pic">
                </div>

            </div>
            <div class="d-flex mt-3">
                {{!-- {{#each products}} --}}
                <div class="col-md-2 me-3 px-0 ">
                    <button class="border-0" onclick="changeImage('img0')">
                        <img src="{{products.image.[0]}}" class="img-fluid " id="img0" width="100">
                    </button>
                </div>
                <div class="col-md-2 me-3 px-0 ">
                    <button class="border-0" onclick="changeImage('img1')">
                        <img src="{{products.image.[1]}}" class="img-fluid " id="img1" width="100">
                    </button>
                </div>
                <div class="col-md-2 me-3 px-0">
                    <button class="border-0" onclick="changeImage('img2')">
                        <img src="{{products.image.[2]}}" class="img-fluid " id="img2" width="100">
                    </button>
                </div>
                <div class="col-md-2 me-3 px-0">
                    <button class="border-0" onclick="changeImage('img3')">
                        <img src="{{products.image.[3]}}" class="img-fluid " id="img3" width="100">
                    </button>
                </div>

            </div>

        </div>
        {{!-- item is added to cart --}}
        <div class="position-fixed w-25 d-none " id="success"
            style="left:530px; background-color: black; border-radius:10px">
            <p class="text-center mt-3" style="color: white;">Product Added to Cart</p>
        </div>
        <div class="position-fixed w-25 d-none " id="success-wishlist"
            style="left:530px; background-color: black; border-radius:10px">
            <p class="text-center mt-3" style="color: white;">Product Added to wishlist</p>
        </div>
        <div class="my-5">
            <div class="mb-3">
                <div class="text-decor h2">{{products.product_name}}</div>
            </div>
            {{#if products.currentOffer}}
            <div class="text-decor h3"><s class="text-danger">{{products.actualPrice}}</s><span
                    class="text-success">&nbsp;({{products.currentOffer}}% OFF)</span></div>
            <div class="text-success h3">${{products.offerPrice}} </div>

            {{else}}
            <div class="text-decor h3"> {{products.actualPrice}}</div>
            <figcaption class="text-danger">No Offer </figcaption>

            {{!-- <figcaption> ₹{{this.totalPrice}}</figcaption> --}}
            {{/if}}
            
            <div class="rating">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
            </div>
            <div class="my-3" style="width: 30rem;">
                <div class=""><b>{{products.brand}}</b></div>
            </div>
            <div class="my-2" style="width: 30rem;">
                <div class=""><b>{{products.category}}</b></div>
            </div>
            <div class="my-3" style="width: 30rem;">
                <div class="">{{products.description}}</div>
            </div>
            

            <div>
                <div class="d-flex">
                    {{#if user}}
                    {{#if products.stock}}
                    <button onclick="addToWishlist('{{products._id}}')" class="btn btn-outline-dark btn-lg me-3"
                        style="border-radius: 0;">Add to Wishlist</button>

                    <button onclick="addToCart('{{products._id}}')" class="btn btn-dark btn-lg"
                        style="border-radius: 0;">Add to Cart</button>
                    {{else}}
                    <button onclick="addToWishlist('{{products._id}}')" class="btn btn-outline-dark btn-lg me-3"
                        style="border-radius: 0;">Add to Wishlist</button>
                    <button class="btn btn-danger btn-lg" style="border-radius: 0;">Item Out of stock</button>
                    {{/if}}
                    {{else}}

                    <button type="button" class="btn btn-outline-dark btn-lg me-3" data-bs-toggle="modal"
                        style="border-radius: 0;" data-bs-target="#signInModal" data-bs-whatever="@mdo">Add to
                        Wishlist</button>

                    <button type="button" class="btn btn-outline-dark btn-lg me-3" data-bs-toggle="modal"
                        style="border-radius: 0;" data-bs-target="#signInModal" data-bs-whatever="@mdo">Add to
                        cart</button>
                   
                    {{/if}}
                </div>
            </div>
        </div>
        

    </div>
    <hr>

</div>

<footer >
        <p class="copy-right"><img
                src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png"
                alt="copy right image" /> 2022 all right recived </p>
        <p>privacy policy</p>
        <p>license</p>
</footer>


