
<div class="position-fixed w-25 d-none " id="success"
	style="left:530px;margin-bottom: 100px; margin-top: 100px; background-color: black; border-radius:10px; z-index: 1;">
	<p class="text-center mt-3" style="color: white;">Product Added to Cart</p>
</div>
<div class="position-fixed w-25 d-none " id="success-wishlist"
	style="left:530px; background-color: black; border-radius:10px">
	<p class="text-center mt-3" style="color: white;">Product Added to wishlist</p>
</div>
<section class="section-products">

	<div class="row justify-content-center text-center">
		<div class="col-md-8 col-lg-6">
			<div class="header">
				<h3 style="color: red;">Featured Product</h3>
				<h2>Popular Products</h2>
			</div>
		</div>
	</div>
	<div class="d-flex ms-4 mb-3">

		<div class="dropdown ">
			<a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
				aria-expanded="false">
				Category
			</a>
			<ul class="dropdown-menu">
			{{#each category}}
			
				{{!-- <li><a href="/search?search={{this.category}}"
                            class="list-group-item ">{{this.category}}</a></li>  --}}
				<li><a class="dropdown-item" href="/search?search={{this.category}}">{{this.category}}</a></li>
				{{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
		
			{{/each}}
				</ul>
		</div>
	</div>

	<div class="container py-5">

		<div class="row">

			{{#if response}}
			{{#each response}}
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="product text-center">
					<div class="position-relative mb-3">
						<div class="badge text-white bg-"></div><a class="d-block"
							href="/product-view/{{this._id}}"><img class="img-fluid w-100" src="{{this.image.[0]}}"
								alt="..."></a>
						<div class="product-overlay">
							<ul class="mb-0 list-inline">
								<li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark"
										onclick="addToWishlist('{{this._id}}')"><i class="far fa-heart"></i></a></li>
								<li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
										onclick="addToCart('{{this._id}}')">Add to cart</a></li>
								<li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark"
										href="/product-view/{{this._id}}"><i class="fas fa-expand"></i></a></li>
							</ul>
						</div>
					</div>
					<h6> <a class="reset-anchor" href="/product-view/{{this._id}}">{{this.product_name}}</a></h6>
					<p class="small  text-danger">${{this.actualPrice}}</p>
					<p class="small  text-success">${{this.offerPrice}}&nbsp;({{this.currentOffer}}%)</p>
				</div>
			</div>
			{{/each}}
			{{else}}
			<section>
                        <div class="d-flex align-items-center justify-content-center vh-100">
                            <div class="text-center">
                                <h1 class="display-1 fw-bold">Sorry!</h1>
                                <p class="fs-3"> <span class="text-danger">Opps!</span> No Items found.</p>
                                <p class="lead">
                                    The product you’re looking for doesn’t exist.
                                </p>
                                <a href="/" class="btn btn-primary">Go Home</a>
                            </div>
                        </div>
                    </section>
		
			{{/if}}
			{{!-- {{#each products}} --}}

			
		</div>

	</div>
</section>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

	body {
		font-family: "Poppins", sans-serif;
		color: #444444;
	}

	a,
	a:hover {
		text-decoration: none;
		color: inherit;
	}

	.section-products {
		padding: 80px 0 54px;
	}

	.section-products .header {
		margin-bottom: 50px;
	}

	.section-products .header h3 {
		font-size: 1rem;
		color: #fe302f;
		font-weight: 500;
	}

	.section-products .header h2 {
		font-size: 2.2rem;
		font-weight: 400;
		color: #444444;
	}

	.section-products .single-product {
		margin-bottom: 26px;
	}

	/*.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
} */

	.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
	}

	.section-products .single-product:hover .part-1::before {
		transform: scale(1.2, 1.2) rotate(5deg);
	}

	.section-products #product-1 .part-1::before {
		background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
		background-size: cover;
		transition: all 0.3s;
	}

	.section-products #product-2 .part-1::before {
		background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
		background-size: cover;
	}

	.section-products #product-3 .part-1::before {
		background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
		background-size: cover;
	}

	.section-products #product-4 .part-1::before {
		background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
		background-size: cover;
	}

	.section-products .single-product .part-1 .discount,
	.section-products .single-product .part-1 .new {
		position: absolute;
		top: 15px;
		left: 20px;
		color: #ffffff;
		background-color: #fe302f;
		padding: 2px 8px;
		text-transform: uppercase;
		font-size: 0.85rem;
	}

	.section-products .single-product .part-1 .new {
		left: 0;
		background-color: #444444;
	}

	.section-products .single-product .part-1 ul {
		position: absolute;
		/* bottom: -41px;*/
		left: 50px;
		margin: 0;
		padding: 0;
		padding-left: 59px;
		padding-bottom: 250px;
		list-style: none;
		opacity: 0;
		transition: bottom 0.5s, opacity 0.5s;
	}

	.section-products .single-product:hover .part-1 ul {
		bottom: 30px;
		opacity: 1;
	}

	.section-products .single-product .part-1 ul li {
		display: inline-block;
		margin-right: 4px;
	}

	.section-products .single-product .part-1 ul li a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		background-color: #ffffff;
		color: #444444;
		text-align: center;
		box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
		transition: color 0.2s;
	}

	.section-products .single-product .part-1 ul li a:hover {
		color: #fe302f;
	}

	.section-products .single-product .part-2 .product-title {
		font-size: 1rem;
	}

	.section-products .single-product .part-2 h4 {
		display: inline-block;
		font-size: 1rem;
	}

	.section-products .single-product .part-2 .product-old-price {
		position: relative;
		padding: 0 7px;
		margin-right: 2px;
		opacity: 0.6;
	}

	.section-products .single-product .part-2 .product-old-price::after {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #444444;
		transform: translateY(-50%);
	}

	/*product hover */

	.product img {
		filter: grayscale(40%);
		transition: all 0.3s;
	}

	.product-overlay {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 1rem 0;
		opacity: 0;
		transition: all 0.3s;
	}

	.product-overlay ul li {
		transition: all 0.3s;
	}

	.product-overlay ul li:first-of-type {
		transform: translateX(-10px);
		opacity: 0;
	}

	.product-overlay ul li:last-of-type {
		transform: translateX(10px);
		opacity: 0;
	}

	.product:hover img {
		opacity: 0.3;
	}

	.product:hover .product-overlay {
		opacity: 1;
	}

	.product:hover .product-overlay li {
		opacity: 1;
		transform: none;
	}

	.product .badge {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;
	}
</style>