{{!-- ===================================nav bar ================================ --}}
{{!--
<nav class="nav nav-borders" style="justify-content: space-evenly;">
  <a class="nav-link" style="color: black; font-weight: 400;" href="/profile">Profile</a>
  <a class="nav-link" style="color: black; font-weight: 400;" href="/addressBook">Address</a>
  <a class="nav-link" style="color: black; font-weight: 400;" href="/orders">My Orders</a>
  <a class="nav-link" style="color: black; font-weight: 400;" href="/wishlist">My Wishlist</a>
</nav>
<hr> --}}
<div class="btn-group btn-group-toggle w-25  mt-3 ms-5 mb-2 sales ">
  <a href="/profile" class="btn   btn-outline-dark " style="border-radius: 3px;"> Profile</a>
  <a href="/addressBook" class="btn  btn-outline-dark ">Address</a>
  <a href="/orders" class="btn   btn-outline-dark ">Orders</a>
  <a href="/wishlist" class="btn  btn-outline-dark ">Wishlist</a>
   <a href="/wallet" class="btn  btn-outline-dark ">wallet</a>
  {{!-- <button id="daily" onclick="salesReport(1,'daily')">Daily</button>
  <button id="weekly" class="btn btn-dark " onclick="salesReport(7,'weekly')">Weekly</button>
  <button id="monthly" class="btn btn-dark " onclick="salesReport(30,'monthly')">Monthly</button>
  <button id="yearly" class="btn btn-dark " onclick="salesReport(365,'yearly')">Yearly</button>
</div> --}}

</div>
<hr class="mt-1">

<section class="vh-100 ">
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      {{#if response}}
      <div class="col-md-12 col-xl-10 "> 
        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Wish List</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

            {{!-- ====== this block is for item is aded to cart pop message ===== --}}
            <div class="position-fixed w-25 d-none" id="success"
              style="left:530px; top:100px; z-index:1000; background-color: black; border-radius:10px">
              <p id="success-text" class="text-center mt-3" style="color: white;"> Added to Cart</p>
            </div>
           
           

            <table class="table mb-0">

              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 {{#each response}}
                <tr class="fw-normal">
                  <th>
                    <img src="{{this.product.image.[0]}}"
                      class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                    <span class="ms-2">{{this.product.product_name}}</span>
                  </th>
                  <td class="align-middle">
                    <span>{{this.product.brand}}</span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-danger">{{this.product.description}}</span></h6>
                  </td>
                  <td class="align-middle">
                    {{this.product.offerPrice}}
                  </td>
                  <td class="align-middle">
                    <button style="border: 0px;" onclick="addToCart('{{this.product._id}}')" data-mdb-toggle="tooltip"
                      title="Done" class="btn btn-outline-success">Add To Cart <i
                        class="fas fa-check text-success me-3"></i> </button>
                    {{!-- <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                        class="fas fa-check text-success me-3"></i></a> --}}
                    <button style="border: 0px;" onclick="addToWishlist('{{this.product._id}}')"
                      data-mdb-toggle="tooltip" title="Remove"><i class="fas fa-trash-alt text-danger"></i>

                    </button>
                    {{!-- <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                        class="fas fa-trash-alt text-danger"></i></a> --}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
             
            </table>
             
          </div>
        </div>
      </div>
      {{else}}
              <div class="container w-50" >
                <img class="img-fluid mt-3" src="https://img.freepik.com/free-vector/interior-design-concept-illustration_114360-5516.jpg?size=626&ext=jpg&ga=GA1.2.1090901292.1666443159" 
                      alt="oops No Wishlist">
              </div>
              {{/if}}
    </div>
  </div>
</section>
<footer >
        <p class="copy-right"><img
                src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png"
                alt="copy right image" /> 2022 all right recived </p>
        <p>privacy policy</p>
        <p>license</p>
</footer>